<a href="https://colab.research.google.com/github/SaiPraneethKandagatla/2303a51142-B17/blob/main/Lab-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv("student_scores.csv")
print("Original Dataset")
print(df, "\n")
df = df.fillna({
 "Math": df["Math"].mean(),
 "Science": df["Science"].mean(),
 "English": df["English"].mean()
 })
print("Dataset after Filling Missing Marks")
print(df, "\n")
high_achievers = df[
    (df["Math"] > 75) &
    (df["Science"] > 75) &
    (df["English"] > 75)
 ]
print("High Achievers (Scored > 75 in all subjects)")
print(high_achievers)

Original Dataset
   Student_ID     Name  Math  Science  English
0           1    Alice  88.0     92.0     85.0
1           2      Bob  76.0      NaN     79.0
2           3  Charlie   NaN     81.0     90.0
3           4    David  95.0     89.0      NaN
4           5      Eva  67.0     74.0     72.0

Dataset after Filling Missing Marks
   Student_ID     Name  Math  Science  English
0           1    Alice  88.0     92.0     85.0
1           2      Bob  76.0     84.0     79.0
2           3  Charlie  81.5     81.0     90.0
3           4    David  95.0     89.0     81.5
4           5      Eva  67.0     74.0     72.0

High Achievers (Scored > 75 in all subjects)
   Student_ID     Name  Math  Science  English
0           1    Alice  88.0     92.0     85.0
1           2      Bob  76.0     84.0     79.0
2           3  Charlie  81.5     81.0     90.0
3           4    David  95.0     89.0     81.5

In [4]:
import pandas as pd
patients = pd.read_csv("patients.csv")
print("Original Dataset")
print(patients, "\n")
patients["Age"] = patients["Age"].fillna(patients["Age"].median())
print("Dataset after Filling Missing Age with Median")
print(patients, "\n")
elderly_diabetic_females = patients[
    (patients["Gender"].str.lower() == "female") &
    (patients["Age"] > 50) &
    (patients["Diagnosis"].str.lower() == "diabetes")
 ]
print("Elderly Female Patients with Diabetes")
print(elderly_diabetic_females)

Original Dataset
   Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0         101   Anita  65.0  Female  Diabetes     2025-01-10
1         102  Ramesh  45.0    Male       Flu     2025-02-15
2         103    Sita   NaN  Female  Diabetes     2025-03-01
3         104   Mohan  72.0    Male    Cancer     2025-03-05
4         105    Lata  55.0  Female  Diabetes     2025-04-01
5         106   Geeta   NaN  Female  Diabetes     2025-04-20

Dataset after Filling Missing Age with Median
   Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0         101   Anita  65.0  Female  Diabetes     2025-01-10
1         102  Ramesh  45.0    Male       Flu     2025-02-15
2         103    Sita  60.0  Female  Diabetes     2025-03-01
3         104   Mohan  72.0    Male    Cancer     2025-03-05
4         105    Lata  55.0  Female  Diabetes     2025-04-01
5         106   Geeta  60.0  Female  Diabetes     2025-04-20

Elderly Female Patients with Diabetes
   Patient_ID   Name   Age  Gender Diagnosis Admission_Date
0         101  Anita  65.0  Female  Diabetes     2025-01-10
2         103   Sita  60.0  Female  Diabetes     2025-03-01
4         105   Lata  55.0  Female  Diabetes     2025-04-01
5         106  Geeta  60.0  Female  Diabetes     2025-04-20